In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
dataset = pd.read_csv('tripdata.csv')
dataset.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,20-09-2010 11:27,20-09-2010 11:43,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,20-09-2010 11:41,20-09-2010 11:42,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,20-09-2010 12:05,20-09-2010 12:50,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,20-09-2010 12:06,20-09-2010 12:29,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,20-09-2010 12:10,20-09-2010 12:34,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [3]:
dataset.dtypes

Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

In [4]:
dataset.isnull().any()
dataset = dataset.fillna(method='ffill')
dataset.isnull().any()

Duration                False
Start date              False
End date                False
Start station number    False
Start station           False
End station number      False
End station             False
Bike number             False
Member type             False
dtype: bool

In [47]:
dataset.shape

(115597, 9)

In [5]:
dataset = dataset.drop('Start date', axis=1)
dataset = dataset.drop('End date', axis =1)
dataset = dataset.drop('Start station', axis=1)
dataset = dataset.drop('End station',axis =1)
dataset = dataset.drop('Bike number', axis = 1)

In [6]:
dataset.head()

   Duration  Start station number  End station number Member type
0      1012                 31208               31108      Member
1        61                 31209               31209      Member
2      2690                 31600               31100      Member
3      1406                 31600               31602      Member
4      1413                 31100               31201      Member

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [8]:
le = LabelEncoder()
le.fit(dataset['Member type'])
dataset['Member type'] = le.transform(dataset['Member type'])

In [9]:
dataset.head()

   Duration  Start station number  End station number  Member type
0      1012                 31208               31108            1
1        61                 31209               31209            1
2      2690                 31600               31100            1
3      1406                 31600               31602            1
4      1413                 31100               31201            1

In [11]:
x = np.array(dataset)[:, :3]
y = np.array(dataset)[:, 3]

from sklearn.module_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

ModuleNotFoundError: No module named 'sklearn.module_selection'

In [61]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

pd.DataFrame(x_train).head()

E:\Programs\Anaconda\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
E:\Programs\Anaconda\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
E:\Programs\Anaconda\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

          0         1         2
0  0.546402 -1.408041  1.890980
1 -0.325336 -1.413375 -1.369754
2 -0.148922 -0.282742 -0.897028
3  0.072399  0.181243 -0.365211
4 -0.078712 -0.202745  1.831889

In [62]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)

y_pred = gnb.predict(x_test)

In [63]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_pred, y_test)
print((cm[0][0]+cm[1][1])/(sum(cm[0])+sum(cm[1])))

0.8364359861591696

In [68]:
x_ = np.array([40, 31208, 31208])
x_ = x_.reshape(1, len(x_))
y_pred_user = gnb.predict(sc.transform(x_))
print(y_pred_user)
print(x_test)

[1]
[[-0.36026295 -0.82672581 -0.20942672]
 [ 0.00682231 -0.84272532 -0.2524018 ]
 [-0.28648951 -0.35207365 -0.88091228]
 ...
 [-0.12254851 -0.83205898 -0.26314557]
 [-0.2815     -0.32540779 -0.34909572]
 [-0.16887966 -0.85872483 -0.29000499]]

E:\Programs\Anaconda\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int32 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)